.rojo{
    width: 310px;
    height: 310px;
    background-color: red;
    display: inline-block;
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 8px; 
}

.negro{
    width: 310px;
    height: 310px;
    background-color: black;
    display: inline-block;
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 8px; 
}

.amarillo{
    position: absolute;
    top: -20px;
}

.blanco{
   position: absolute;
   top: -20px;
}

.p1{
    color: yellow;
    font-size: 48px;
    top: 0px;
}

.p2{
    color: white;
    font-size: 48px;
    top: 0px;
}