*{
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.img1{
    width: 135px;
    height: 75px;
    margin-left: 15px;
    margin-top: 15px;
}

.ribbon{
    width: 100vw;
    height: 50px;
    background-color: grey;
    margin-left: 1px;
    margin-right: 0px;
    margin-top: 20px;
}

.navbar{
    text-align: right;
    margin-right: 25px;
    position: relative;
    top: 50%; 
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.img2{
    position: relative;
    margin-left: 250px;
    width: 150px;
    height: 150px;
}
.p1{
    text-align: justify;
    margin-left: 250px;
    margin-right: 250px;
}

footer{
    width: 100vw;
    height: 22px;
    background-color: grey;
    margin-left: 1px;
    margin-right: 0px;
    margin-top: 30px;
    position: relative;
}

.jumbotron{
    position: absolute;
    margin-left: 400px;
}